<div class="card mb-3" id="@cardId" style="max-width: 18rem;">
    <img src="@cardImgSrc" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@cardTitle</h5>
    <p class="card-text">@cardDescription</p>
    <a href="@cardLinkRout" class="btn btn-primary">@cardLinkText</a>
  </div>
</div>
