@page "/students"
@namespace BlazorApp.Components

<PageTitle>Student</PageTitle>

<h3>StudentAffairs</h3>
@if (_student is not null)
{
    @if (isLoading)
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    <EditForm Model="@_student" OnValidSubmit="async ()=> HandleValidSubmit()">
        <FluentValidationValidator />
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <InputText class="form-control" @bind-Value="@_student.Name" />
        </div>

        <div class="mb-3">
            <label for="mobile" class="form-label">Mobile:</label>
            <InputText class="form-control" @bind-Value="@_student.Mobile" />
        </div>

        <div class="mb-3">
            <label class="form-label">Age:</label>
            <InputNumber class="form-control" @bind-Value="@_student.Age" />
        </div>

        <ValidationSummary />

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
}

<h3>Registered Students</h3>
<div class="container mt-5">
    <h2>Bootstrap Table</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Age</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Student item in students)
            {
                <tr>
                    <td scope="col">@item.Id</td>
                    <td scope="col">@item.Name</td>
                    <td scope="col">@item.Mobile</td>
                    <td scope="col">@item.Age</td>
                    <td scope="col">
                        <div>
                            <a href="javascript:void(0)" onclick="@( () => EditStudent(item) )" class="m-1 btn btn-primary">Edit</a>
                            <a href="javascript:void(0)" onclick="@( () => DeleteStudent(item) )" class="m-1 btn btn-danger">Del</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
